Week_1/assignment1.txt
[{"id":"ead1ada6.af832","type":"inject","z":"1094ffb5.93bd5","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":350,"y":360,"wires":[["c68d49e2.75f1c8"]]},{"id":"d7f4d5cc.49d9f8","type":"debug","z":"1094ffb5.93bd5","name":"","active":true,"console":"false","complete":"false","x":1070,"y":360,"wires":[]},{"id":"8e8d32bd.14351","type":"function","z":"1094ffb5.93bd5","name":"Logic","func":"if ( msg.payload < 5)\n{\n    return {\"payload\" : \"Number \" + msg.payload + \" is a low number\"};\n}\nelse\n{\n    return {\"payload\" : \"Number \" + msg.payload + \" is a high number\"};\n}","outputs":1,"noerr":0,"x":790,"y":360,"wires":[["d7f4d5cc.49d9f8"]]},{"id":"c68d49e2.75f1c8","type":"random","z":"1094ffb5.93bd5","name":"","low":"0","high":"10","inte":"true","x":560,"y":360,"wires":[["8e8d32bd.14351"]]}]